In [2]:
%matplotlib inline
import pandas

In [16]:
import json
stations = json.loads(open('data/oslo_stations.json', 'r').read())
stations['stations'][:3]

[{'bounds': [{'latitude': 59.915418602160436, 'longitude': 10.762068629264832},
   {'latitude': 59.91565254992276, 'longitude': 10.762672126293182},
   {'latitude': 59.915807169665264, 'longitude': 10.762433409690855},
   {'latitude': 59.91557994562126, 'longitude': 10.761821866035461},
   {'latitude': 59.915418602160436, 'longitude': 10.762068629264832}],
  'center': {'latitude': 59.91562, 'longitude': 10.762248},
  'id': 157,
  'in_service': True,
  'number_of_locks': 30,
  'subtitle': 'mellom Norbygata og Urtegata',
  'title': 'Nylandsveien'},
 {'bounds': [{'latitude': 59.938998693156904, 'longitude': 10.758989453315735},
   {'latitude': 59.939057810485, 'longitude': 10.759515166282652},
   {'latitude': 59.93939638951557, 'longitude': 10.759338140487671},
   {'latitude': 59.93932383715719, 'longitude': 10.758823156356812},
   {'latitude': 59.938998693156904, 'longitude': 10.758989453315735}],
  'center': {'latitude': 59.939192, 'longitude': 10.759168},
  'id': 158,
  'in_service': True,
  'number_of_locks': 24,
  'subtitle': 'rett over busstoppet',
  'title': 'Bentsebrugata'},
 {'bounds': [{'latitude': 59.93911558413561, 'longitude': 10.774433612823486},
   {'latitude': 59.939206946912556, 'longitude': 10.77458918094635},
   {'latitude': 59.93938967171128, 'longitude': 10.774173438549042},
   {'latitude': 59.93929830943778, 'longitude': 10.773993730545044},
   {'latitude': 59.93911558413561, 'longitude': 10.774433612823486}],
  'center': {'latitude': 59.939262, 'longitude': 10.774296},
  'id': 159,
  'in_service': True,
  'number_of_locks': 21,
  'subtitle': 'Mellom Ã…sengata og Nordkappgata',
  'title': 'Hans Nielsen Hauges plass'}]

In [3]:
trips = pandas.read_csv('data/trips-2017.5.1-2017.5.31.csv', sep=',', delim_whitespace=False)
trips[:3]

,Start station,Start time,End station,End time
0,191,2017-05-01 02:29:23 +0200,210,2017-05-01 02:34:16 +0200
1,238,2017-05-01 06:00:07 +0200,175,2017-05-01 06:06:22 +0200
2,272,2017-05-01 06:00:18 +0200,219,2017-05-01 06:15:00 +0200

In [5]:
number_trips = trips.shape[0]
number_trips

423300

In [6]:
first = trips['Start time'].min()
last = trips['Start time'].max()
first, last

('2017-05-01 02:29:23 +0200', '2017-06-01 01:17:25 +0200')

In [9]:
from datetime import datetime
# 2013-12-21 09:12:00, ref http://strftime.org/
date_format = "%Y-%m-%d %H:%M:%S +0200"
f = datetime.strptime(first, date_format)
l = datetime.strptime(last, date_format)
delta = l - f 
delta.days

30

In [10]:
"Trips per day (average): %d" % (number_trips / delta.days)

'Trips per day (average): 14110'